# Ignores all Homepage log files
/homepage/logs

# Does not ignore Nginx Proxy Manager Docker compose file
!nginx_proxy_manager/docker-compose.yml

# Ignores all Nginx Proxy Manager files
nginx_proxy_manager/